@media (max-width: 576px) {   
    .container {
        width: 100%;  
        padding: 10px 10px; 
    }
    .app {
        width: 100%;
        margin: 0 auto;
        padding: 50px 15px 50px 15px;
        &__menu {
            display: none;
        }
    }

    .randomchar {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, minmax(100px, auto));
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    }
    .randomchar__decoration {
            display: none;
    }
    .randomchar__block {
        padding: 40px 35px;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 30px;
        column-gap: 10px;
    }
}